{% extends 'dashboard/header.html' %}

{% block body %}

<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">List Products</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

        <!-- Content -->
        <div class="content">
            <!-- Animated -->
            <div class="animated fadeIn">
                <!-- Widgets  -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-lg-6"><strong class="card-title">Product List</strong></div>
                                    <div class="col-lg-6 text-right"><a class="add_product_btn" href="{{ url_for('add_product') }}">Add New</a></div>
                                </div>
                                
                               
                            </div>
                            <div class="card-body">
                                <div class="table-stats order-table ov-h">
                                    <table class="table ">
                                        <thead>
                                            <tr>
                                                <th class="serial">#</th>
                                                <th class="avatar">Avatar</th>
                                                <th>Name</th>
                                                <th>Price</th>
                                                <th>Store</th>
                                                <th>Quantity</th>
                                                <th>Created date</th>
                                                <th>Edit / Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for product_item in product_items  %}
                                            <tr>
                                                <td class="serial">{{ product_item.product_id }}</td>
                                                <td class="avatar">
                                                    <div class="round-img">
                                                        <a href="#"><img class="rounded-circle" src="{{ url_for('static', filename='dash_images/avatar/3.jpg')}}" alt=""></a>
                                                    </div>
                                                </td>
                                                <td><span class="name">{{ product_item.product_name }}</span></td>
                                                <td>{{ product_item.product_price }}</td>
                                                <td><span class="name">{{ product_item.store_name }}</span></td>
                                                <td><span class="count">{{ product_item.quantity }}</span></td>
                                                <td><span class="name">{{ product_item.date_created }}</span></td>
                                                <td>
                                                    <div class="fa-hover col-lg-3 col-md-6"><a href="{{ url_for('edit_product', product_id = product_item.product_id )}}"><i class="fa fa-edit"></i>  </a></div>
                                                    <div class="fa-hover col-lg-3 col-md-6"><a href="#trash-o"><i class="fa fa-trash-o"></i></a></div>
                                                </td>
                                            </tr> 
                                            {% endfor %}
                                          
                                        </tbody>
                                    </table>
                                </div> <!-- /.table-stats -->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>    

{% endblock %}